<!-- Header -->
<header class="bg-primary text-center py-5 mb-4 color-change">
  <div class="container">
    <h2 class="font-weight-light text-white text-middle">Knowledge gained in Programming Languages</h2>
  </div>
</header>


    <div class="container">
    <!-- Dark Grey -->
    <div class="row">
      <div class="col-md-2 color-assign">Html</div>
      <div class="col-md-10">
        <div class="progress">
          <div class="progress-bar bg-dark align-content" style="width:90%"></div>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 color-assign">Css</div>
      <div class="col-md-10">
        <div class="progress">
          <div class="progress-bar bg-dark align-content" style="width:90%"></div>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 color-assign">Saas</div>
      <div class="col-md-10">
        <div class="progress">
          <div class="progress-bar bg-dark align-content" style="width:90%"></div>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 color-assign">Java Script</div>
      <div class="col-md-10">
        <div class="progress">
          <div class="progress-bar bg-dark align-content" style="width:85%"></div>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 color-assign">Angular JS</div>
      <div class="col-md-10">
        <div class="progress">
          <div class="progress-bar bg-dark align-content" style="width:90%"></div>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 color-assign">Bootstrap</div>
      <div class="col-md-10">
        <div class="progress">
          <div class="progress-bar bg-dark align-content" style="width:90%"></div>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 color-assign">Node js</div>
      <div class="col-md-10">
        <div class="progress">
          <div class="progress-bar bg-dark align-content" style="width:60%"></div>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 color-assign">PHP</div>
      <div class="col-md-10">
        <div class="progress">
          <div class="progress-bar bg-dark align-content" style="width:40%"></div>
         </div>
      </div>
    </div><br>
    
    <div class="row">
      <section class="style-content">
      <p>"I am  in  to   IT role for over  8 years.  My responsibilities have included UI Developer, Sr.UI developer, Lead  UI Developer.  As a part of development team ,Developed many pages  for the website using languages like Html, Html5, Css, Css3, Javascript, jQuery,Angular ,Angular js, d3.js, PHP  e.t.c.,In addition to this, got good experience on designing and developing a responsive website by using predefined libraries  like Bootstrap css and Bootstrap js .Moreover, while working with back end developers, learned how to implement Ajax methods to make Ajax calls through call back functions to handle back responses.At the end of deployment,responsible for the creation and execution of  Unit test cases, using the jasmine test frameworks with karma test runner."</p>
      </section>
      <section class="style-content">
       <h3 class="color-modify">Technical Challenges</h3>
      <p>With in dedicated time,learned new technologies like Angular ,Angular2 e,t.c.,  to deliver the application with in a short frame.This is especially tough,when we are dealing with several unique concepts at all once.</p>
      </section> 
    <section class="style-content">
      <h3 class="color-modify">Management challenges</h3>
     <p>Working with teams(onsite/offshore) spread out globally.It involves hand-offs at the end of shift and beginning of their shift.I have to explain things ranging from business requirements,design decisions and development decisions like details of coding, modularization, unit test cases with in a short couple of hours.</p>
   </section>
   </div>

       <h1 class="my-4">
        <small class="color-assign">A collection of some recently completed projects, covering a wide range of design disciplines</small>
       </h1>
      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/assets/images/fedex-truck.jpg" height="300px" width="700px"  alt="image not found">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Fedex Brand</h3>
          <p>It's a complete redesign effort by developing responsive AEM(Adobe Experience  Manager) web application   through the latest technologies in the industry, HTML5, CSS3, JavaScript, jQuery, Angular.js,Coral UI for web , mobile products and applications.It's a Business to Business application.</p>
          <a class="btn btn-primary" href="https://brand.fedex.com/login.html">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/assets/images/st.jude_logo.png" height="300px" width="700px" alt="image not found">
          </a>
        </div>
        <div class="col-md-5">
          <h3>St Jude/Alsac</h3>
          <p>The main aim of the project is to completely redesign the existing application i.e., PIHPP(Partner in Hope for Pledge and Play ) and move the content to Adobe Experience manager. 
            It maintains a record of donors list who has the habit of  donating amount weekly wise , monthly wise and yearly wise manner.</p>
          <a class="btn btn-primary" href="https://waystohelp.stjude.org/sjPIHPledgePay/signin">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/assets/images/confused2.png"  height="300px" width="700px" alt="image not found">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Confused Traders</h3>
          <p>It's a complete redesign effort by developing responsive AEM(Adobe Experience  Manager) web application  through the latest technologies in the industry, HTML5, CSS3, JavaScript, jQuery for web , mobile products and applications.It's a Business to Customer facing application.</p>
          <a class="btn btn-primary" href="https://confusedtraders.com/">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

          <!-- Project Four -->
          <div class="row">

            <div class="col-md-7">
              <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="/assets/images/salad2.jpg" height="300px" width="700px" alt="image not found">
              </a>
            </div>
            <div class="col-md-5">
              <h3>Go Lunch Box</h3>
              <p>“GO LUNCH BOX” idea was mainly emerged to reduce time and effort of parents by preparing lunch meal to people.It mainly controls order due dates, track order history, make a payment, receive alerts, generate daily reports and manage individual accounts.</p>
              <a class="btn btn-primary" href="http://www.brownbagmenu.com/login/">View Project</a>
            </div>
          </div>
          <!-- /.row -->

      <!-- Project Five -->
      <div class="row">

        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/assets/images/cigna.jpg" height="300px" width="700px" alt="image not found">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Cigna Health Insurance</h3>
          <p>It provides information about different health insurance policies to customers and patients. The main aim of this application is to provide global access to all patients by providing different categories of insurance. Cigna is leading the way in transforming health care, innovating across the delivery system to expand choice and improve quality, affordability, and experience.</p>
          <a class="btn btn-primary" href="https://cignaforhcp.cigna.com/app/login">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>



      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->
