<header class="bg-primary text-center py-5 mb-4 color-change">
  <div class="container">
    <h1 class="font-weight-light text-white text-middle">Personal Story</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-md-3 col-lg-3 col-sm-4">
      <div class="card border-0 shadow">
        <img src="/assets/images/shilpa2.jpg" height="333px" class="card-img-top" alt="image not found">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shilpa Anthati</h5>
          <div class="card-text text-black-50">Front End Developer</div>
        </div>
      </div>
    </div>
     <!--col -->

    <div class="col-md-9 col-lg-9 col-sm-8">
      <section class="style-content">
        <p>Hello, This is me.</p>
        <p>Firstly , I am feeling very honoured to share my bio on this platform. </p>
        <p>Secondly , I am very proud to share my family details on this interface which includes : <br>My Father : Main Pillar of My Family who deserves great respect from my extended family also.Because , he is the one who provided employment to many people by giving his name as a  reference.<br>My Mother : My mother is my greatest strength.Whenever I feel low, she motivates me by telling all stories how she faced struggles in her life and how she overcome all those with her patience.<br>My Sister : My little cute younger sister striving very hard to get through the most toughest exam in india.Hope, she will become a great officer in India. she will definitely do something for our mother India. </p>
        <p>Education Background: 1) Done my graduation in B.E(Information Technology) from SVS IT.<br>
         2) Masters in Computer Science from University of Houston Clear-lake.</p> 
      </section>
      <section>
       <h3>My Strengths</h3>
       <p>My Family : As I said earlier , My family is just my back bone in everything.
       <br>combination of Passion and Perseverance : I will tell you a story from my Post Graduation i.e., pursuing higher education is my passion but paying such expensive fees is also a great challenge for me.<br> So , I worked as a Motel Receptionist which helped me to get through hard economical situations.  </p> 
       <p>My Ideology in personal life : Be Crafty, Lovable, Systematic, and Relentless.<br>
        Don't Take Yourself Too Seriously , but Learn Every Day.</p>
      <p>Professional life Ideology : Prioritize the Customer , Believe in Change.<br>Invest in more and more Ideas That Matter.</p> 
     </section>
     <section>
       <h3>My Hobbies</h3>
       <p>Painting , To bring a new look for old clothes , Curious to participate in Rangoli Competition.</p>
     </section>
    </div>
  </div>
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="/personal-page" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/personal-page">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/profession-page">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/profession-page" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</div>